@font-face {
    font-family: 'Roboto Medium';
    src: url('../fonts/Roboto-Medium.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Medium?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        /* Super Modern Browsers */
        url('../fonts/Roboto-Medium.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Roboto-Medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto-Medium.svg') format('svg');
    /* Legacy iOS */
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Regular?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        /* Super Modern Browsers */
        url('../fonts/Roboto-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto-Regular.svg') format('svg');
    /* Legacy iOS */
}
@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Roboto-Bold?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        /* Super Modern Browsers */
        url('../fonts/Roboto-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../Roboto-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Roboto-Bold.svg') format('svg');
    /* Legacy iOS */
}
@font-face {
    font-family:'Acumin-pro-light';
    src: url('../fonts/AcuminPro-Light.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/AcuminPro-Light?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        /* Super Modern Browsers */
        url('../fonts/AcuminPro-Light.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AcuminPro-Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AcuminPro-Light.svg') format('svg');
    /* Legacy iOS */
}
@font-face {
    font-family:'Acumin-pro-regular';
    src: url('../fonts/AcuminPro-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/AcuminPro-Regular?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        /* Super Modern Browsers */
        url('../fonts/AcuminPro-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AcuminPro-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AcuminPro-Regular.svg') format('svg');
    /* Legacy iOS */
}
@font-face {
    font-family:'Acumin-pro';
    src: url('../fonts/AcuminPro-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/AcuminPro-Regular?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        /* Super Modern Browsers */
        url('../fonts/AcuminPro-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AcuminPro-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AcuminPro-Regular.svg') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family:'Acumin-pro-bold';
    src: url('../fonts/AcuminPro-Bold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/AcuminPro-Bold?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        /* Super Modern Browsers */
        url('../fonts/AcuminPro-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AcuminPro-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AcuminPro-Bold.svg') format('svg');
    /* Legacy iOS */
}
